/* Styles de base */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    margin: 0 auto;
}

/* Effet sticky général */
.bloc {
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 100dvh;
}

/* Section titre et introduction */
div#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ffffff;
    color: #000;
}

img#icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid var(--accent);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

img#icon:hover {
    transform: scale(1.05);
}

div#title_content {
    padding-right: 10px;
}

#title h1 {
    font-size: 70px;
    font-weight: 700;
}

#title h2 {
    font-size: 30px;
    font-weight: 400;
}

#title a {
    display: inline-block;
    margin: 16px 16px 16px 0;
    transition: transform 0.2s ease;
}

#title a:hover {
    transform: translateY(-3px);
    text-decoration: none;
}

/* Section à propos */
div#about {
    background-color: #ffcc00;
    border-radius: 100px 100px 0 0;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#about_nav {
    display: flex;
    gap: 50px;
    background-color: #ffff8f;
    padding: 5px;
    border-radius: 50px;
    margin-top: 10dvh;
}

div.about_nav_button {
    color: #000000;
    padding: 10px 50px;
    border-radius: 45px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

div.about_nav_button.selected {
    background-color: #000000;
    color: #ffffff;
}

div#about_content_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#about_content_div,
div#about_content_div * {
    transition: all 0.3s ease;
}

div.about_content {
    width: 80%;
    max-width: 0;
}

div.about_content * {
    font-size: 0;
}

div.about_content.selected {
    max-width: 800px;
}

div.about_content.selected h3 {
    font-size: 21px;
}

div.about_content.selected p {
    font-size: 16px;
}

div.about_content.selected span {
    font-size: 16px;
    font-weight: 700;
}